In [1]:
import pandas as pd
import numpy as np

In [45]:
jang = pd.read_csv('theater_final.csv', encoding='euc-kr')
jubyun = pd.read_csv('data_merge.csv')

In [4]:
jang.head()

,name,n_theater,n_seats,theater_name,n_seats2,attr,open,city,gu,address,pyuneui,jangaein,jucha
0,(재)경기문화재단,1,154,다산홀,154,공공(기타),2001,경기,수원시,경기도 수원시 팔달구 인계로 178 (인계동),1.0,1.0,1.0
1,1M SPACE,1,0,1M SPACE,0,민간(대학로 외),2019,서울,서대문구,서울특별시 서대문구 연세로4길 27 (창천동),0.0,0.0,0.0
2,1m클래식아트홀,1,130,1m클래식아트홀,130,민간(대학로),2007,서울,종로구,서울특별시 종로구 대학로12길 31 (동숭동),0.0,1.0,0.0
3,2001 아울렛키즈홀 [구로],1,100,2001 아울렛키즈홀 [구로],100,민간(대학로 외),2017,서울,구로구,서울특별시 구로구 중앙로1길 36 (고척동),1.0,1.0,1.0
4,2001 아울렛키즈홀 [수원남문],1,100,2001 아울렛키즈홀 [수원남문],100,민간(대학로 외),2005,경기,수원시,경기도 수원시 팔달구 중부대로34번길 15 (인계동),1.0,1.0,1.0

In [6]:
jubyun.columns

Index(['Unnamed: 0', 'name', 'n_theater', 'n_seats', 'theater_name',
       'n_seats2', 'attr', 'open', 'city', 'gu', 'address', 'CS2', 'PK6',
       'OL7', 'SW8', 'CT1', 'AT4', 'AD5', 'FD6', 'CE7'],
      dtype='object')

In [46]:
jubyun = jubyun[['name', 'n_theater', 'n_seats', 'theater_name',
       'n_seats2', 'attr', 'open', 'city', 'gu', 'address', 'CS2', 'PK6',
       'OL7', 'SW8', 'CT1', 'AT4', 'AD5', 'FD6', 'CE7']]

In [8]:
jubyun.head()

,name,n_theater,n_seats,theater_name,n_seats2,attr,open,city,gu,address,CS2,PK6,OL7,SW8,CT1,AT4,AD5,FD6,CE7
0,(재)경기문화재단,1,154,다산홀,154,공공(기타),2001,경기,수원시,경기도 수원시 팔달구 인계로 178,25.0,27.0,1.0,0.0,12.0,2.0,25.0,464.0,78.0
1,1M SPACE,1,0,1M SPACE,0,민간(대학로 외),2019,서울,서대문구,서울특별시 서대문구 연세로4길 27,58.0,69.0,1.0,2.0,18.0,5.0,93.0,1167.0,267.0
2,1m클래식아트홀,1,130,1m클래식아트홀,130,민간(대학로),2007,서울,종로구,서울특별시 종로구 대학로12길 31,25.0,46.0,1.0,1.0,198.0,7.0,9.0,639.0,227.0
3,2001 아울렛키즈홀 [구로],1,100,2001 아울렛키즈홀 [구로],100,민간(대학로 외),2017,서울,구로구,서울특별시 구로구 중앙로1길 36,14.0,16.0,2.0,0.0,1.0,0.0,2.0,237.0,38.0
4,2001 아울렛키즈홀 [수원남문],1,100,2001 아울렛키즈홀 [수원남문],100,민간(대학로 외),2005,경기,수원시,경기도 수원시 팔달구 중부대로34번길 15,16.0,16.0,1.0,0.0,5.0,1.0,10.0,222.0,45.0

In [9]:
gongyun2019 = pd.read_csv('2019 공연.csv')
gongyun2018 = pd.read_csv('2018 공연.csv')

In [10]:
gongyun2018.head()

,제목,종류,시작일,종료일,공연시설,공연장,객석수(석)
0,리미트,연극,2018.04.25,오픈런,JTN 아트홀(구. 대학로예술마당),2관,210
1,스크루지의 크리스마스 파티 [수원],뮤지컬,2018.11.24,2019.01.01,KBS 수원아트홀,KBS 수원아트홀,200
2,공룡 애니멀쇼 [동두천],뮤지컬,2018.12.01,2018.12.02,동두천시민회관,동두천시민회관,480
3,롯데콘서트홀 송년·제야음악회,클래식,2018.12.30,2018.12.31,롯데콘서트홀,롯데콘서트홀,"2,036"
4,노리야 학교가자 [수원],뮤지컬,2018.10.20,2018.11.18,KBS 수원아트홀,KBS 수원아트홀,200

In [20]:
gongyun2018.columns

Index(['제목', '종류', '시작일', '종료일', '공연시설', '공연장', '객석수(석)'], dtype='object')

In [21]:
gongyun2019.columns

Index(['Unnamed: 0', 'Unnamed: 1', '시작일', '종료일', '공연시설', '공연장', '객석수(석)',
       'Unnamed: 7'],
      dtype='object')

In [22]:
gongyun2019 = gongyun2019[['Unnamed: 0', 'Unnamed: 1', '시작일', '종료일', '공연시설', '공연장', '객석수(석)']]

In [23]:
gongyun2019.columns = ['제목', '종류', '시작일', '종료일', '공연시설', '공연장', '객석수(석)']

In [24]:
gongyun2019.head()

,제목,종류,시작일,종료일,공연시설,공연장,객석수(석)
0,잠자는 숲속의 미녀,무용,2019.05.05,2019.05.05,대덕문화전당,대덕문화전당,536
1,이지은 피아노 독주회,클래식,2019.04.28,2019.04.28,꿈의숲아트센터,콘서트홀,301
2,"문화가 있는날 앙상블시리즈, 어린이를 위한 음악극 피터와 늑대 (5월)",연극,2019.05.29,2019.05.29,봉산문화회관,스페이스라온,90
3,"문화가 있는날 앙상블시리즈, 판소리소설과 현대춤 토끼전 (4월)",복합,2019.04.24,2019.04.24,봉산문화회관,스페이스라온,90
4,제2회 달보드레 정기연주회,클래식,2019.03.03,2019.03.03,포항시청,문화동 대잠홀,590

In [25]:
gongyun2019.tail()

,제목,종류,시작일,종료일,공연시설,공연장,객석수(석)
9454,빨래,뮤지컬,2014.09.26,2019.01.06,동양예술극장(구. 아트센터K),1관(네모극장),221
9455,판타스틱,뮤지컬,2009.04.25,2019.08.31,NH아트홀 판타스틱 전용관,NH아트홀 판타스틱 전용관,405
9456,극적인 하룻밤,연극,2014.09.26,2019.02.24,바탕골소극장,바탕골소극장,200
9457,작업의 정석 1탄,연극,2015.01.01,오픈런,"순위아트홀1관 [대학로], 순위아트홀(구. 네오아트홀) [강남]",순위아트홀1관 [대학로],221
9458,페인터즈 [종로],뮤지컬,2015.01.01,오픈런,서울극장,페인터즈히어로 전용관,488

In [16]:
print(len(gongyun2018))
print(len(gongyun2019))

4480
9459

In [26]:
gongyun = pd.concat([gongyun2018, gongyun2019])
print(len(gongyun))
print(4480+9459)

13939
13939

In [27]:
gongyun.tail()

,제목,종류,시작일,종료일,공연시설,공연장,객석수(석)
9454,빨래,뮤지컬,2014.09.26,2019.01.06,동양예술극장(구. 아트센터K),1관(네모극장),221
9455,판타스틱,뮤지컬,2009.04.25,2019.08.31,NH아트홀 판타스틱 전용관,NH아트홀 판타스틱 전용관,405
9456,극적인 하룻밤,연극,2014.09.26,2019.02.24,바탕골소극장,바탕골소극장,200
9457,작업의 정석 1탄,연극,2015.01.01,오픈런,"순위아트홀1관 [대학로], 순위아트홀(구. 네오아트홀) [강남]",순위아트홀1관 [대학로],221
9458,페인터즈 [종로],뮤지컬,2015.01.01,오픈런,서울극장,페인터즈히어로 전용관,488

In [40]:
gongyun['공연시설'][9456]

'바탕골소극장 '

In [59]:
gongyun[gongyun['공연시설']=='2001 아울렛키즈홀 [구로] ']

,제목,종류,시작일,종료일,공연시설,공연장,객석수(석)
139,춤추는 호랑이와 햇님달님,뮤지컬,2019.12.31,2020.01.05,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
198,크리스마스 가족음악회,클래식,2019.12.23,2019.12.23,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
426,성냥팔이소녀와 크리스마스캐롤,뮤지컬,2019.12.17,2019.12.29,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
486,안나와 엘사의 생일파티 [구로],뮤지컬,2019.12.10,2019.12.15,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
858,기분을 말해봐 [구로],뮤지컬,2019.11.19,2019.12.01,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
1668,춤추는 프린세스 [구로],뮤지컬,2019.11.05,2019.11.17,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
2823,뛰는토끼 노는거북 [구로],뮤지컬,2019.10.29,2019.11.03,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
2885,방귀쟁이 며느리 [구로],뮤지컬,2019.10.15,2019.10.27,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
3274,늑대와 빨간모자 [구로],뮤지컬,2019.09.17,2019.09.29,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
3643,일곱마리 아기염소와 늑대,뮤지컬,2019.10.01,2019.10.13,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
4058,팥죽할멈과 호랑이 [구로],뮤지컬,2019.08.27,2019.09.01,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
4905,라이온 킹 [구로],복합,2019.08.20,2019.08.25,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
5206,벌거숭이 임금님,뮤지컬,2019.07.16,2019.07.21,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
5461,얼음왕국 [구로],복합,2019.08.06,2019.08.11,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
5582,말 안 듣는 청개구리 [구로],뮤지컬,2019.08.13,2019.08.18,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
5711,잭과 콩나무 [구로],뮤지컬,2019.07.09,2019.07.14,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
6383,인어공주 [구로],뮤지컬,2019.07.02,2019.07.07,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
6508,사과가 쿵! [구로],뮤지컬,2019.07.23,2019.08.04,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
6563,소가 된 게으름뱅이 [구로],연극,2019.06.27,2019.06.30,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100
7799,책속요정 바비츄카,뮤지컬,2019.05.28,2019.06.09,2001 아울렛키즈홀 [구로],2001 아울렛키즈홀 [구로],100

In [60]:
gongyun[gongyun['공연시설']=='(재)경기문화재단 ']

                제목  종류         시작일         종료일        공연시설  공연장 객석수(석)
1919  경기인형극제, 어린왕자  연극  2018.07.17  2018.07.18  (재)경기문화재단   다산홀    154

In [38]:
jang[jang.theater_name == '바탕골소극장']

,name,n_theater,n_seats,theater_name,n_seats2,attr,open,city,gu,address,pyuneui,jangaein,jucha
420,바탕골소극장,1,200,바탕골소극장,200,민간(대학로),1986,서울,종로구,서울특별시 종로구 대학로10길 5 (동숭동) 5층,1.0,0.0,0.0

In [ ]:
jubyun[jubyun.theater_name == '바탕골소극장']

In [31]:
jang.tail()

,name,n_theater,n_seats,theater_name,n_seats2,attr,open,city,gu,address,pyuneui,jangaein,jucha
1841,후용공연예술센터,2,320,교실극장,120,민간(대학로 외),2001,강원,원주시,강원도 원주시 문막읍 비야동길 11,0.0,0.0,1.0
1842,후용공연예술센터,2,320,야외공연장,200,민간(대학로 외),2001,강원,원주시,강원도 원주시 문막읍 비야동길 11,0.0,0.0,1.0
1843,흰물결아트센터,3,978,화이트홀,475,민간(대학로 외),2007,서울,서초구,서울특별시 서초구 반포대로 150 (서초동),0.0,0.0,0.0
1844,흰물결아트센터,3,978,아트홀,200,민간(대학로 외),2007,서울,서초구,서울특별시 서초구 반포대로 150 (서초동),0.0,0.0,0.0
1845,흰물결아트센터,3,978,예술극장,303,민간(대학로 외),2007,서울,서초구,서울특별시 서초구 반포대로 150 (서초동),0.0,0.0,0.0

In [32]:
jubyun.tail()

,name,n_theater,n_seats,theater_name,n_seats2,attr,open,city,gu,address,CS2,PK6,OL7,SW8,CT1,AT4,AD5,FD6,CE7
1842,후용공연예술센터,2,320,교실극장,120,민간(대학로 외),2001,강원,원주시,강원도 원주시 문막읍 비야동길 11,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0
1843,후용공연예술센터,2,320,야외공연장,200,민간(대학로 외),2001,강원,원주시,강원도 원주시 문막읍 비야동길 11,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0
1844,흰물결아트센터,3,978,화이트홀,475,민간(대학로 외),2007,서울,서초구,서울특별시 서초구 반포대로 150,13.0,35.0,1.0,1.0,7.0,0.0,3.0,320.0,73.0
1845,흰물결아트센터,3,978,아트홀,200,민간(대학로 외),2007,서울,서초구,서울특별시 서초구 반포대로 150,13.0,35.0,1.0,1.0,7.0,0.0,3.0,320.0,73.0
1846,흰물결아트센터,3,978,예술극장,303,민간(대학로 외),2007,서울,서초구,서울특별시 서초구 반포대로 150,13.0,35.0,1.0,1.0,7.0,0.0,3.0,320.0,73.0

In [42]:
jubyun.columns

Index(['name', 'n_theater', 'n_seats', 'theater_name', 'n_seats2', 'attr',
       'open', 'city', 'gu', 'address', 'CS2', 'PK6', 'OL7', 'SW8', 'CT1',
       'AT4', 'AD5', 'FD6', 'CE7'],
      dtype='object')

In [50]:
jubyun_jang = pd.merge(jang,jubyun, on=['name','theater_name','address'],how='left')

In [52]:
jang[['CS2', 'PK6', 'OL7', 'SW8', 'CT1', 'AT4', 'AD5', 'FD6', 'CE7']] = jubyun[['CS2', 'PK6', 'OL7', 'SW8', 'CT1',
       'AT4', 'AD5', 'FD6', 'CE7']]
jang.tail()

,name,n_theater,n_seats,theater_name,n_seats2,attr,open,city,gu,address,...,jucha,CS2,PK6,OL7,SW8,CT1,AT4,AD5,FD6,CE7
1841,후용공연예술센터,2,320,교실극장,120,민간(대학로 외),2001,강원,원주시,강원도 원주시 문막읍 비야동길 11,...,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0,5.0
1842,후용공연예술센터,2,320,야외공연장,200,민간(대학로 외),2001,강원,원주시,강원도 원주시 문막읍 비야동길 11,...,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0
1843,흰물결아트센터,3,978,화이트홀,475,민간(대학로 외),2007,서울,서초구,서울특별시 서초구 반포대로 150 (서초동),...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0
1844,흰물결아트센터,3,978,아트홀,200,민간(대학로 외),2007,서울,서초구,서울특별시 서초구 반포대로 150 (서초동),...,0.0,13.0,35.0,1.0,1.0,7.0,0.0,3.0,320.0,73.0
1845,흰물결아트센터,3,978,예술극장,303,민간(대학로 외),2007,서울,서초구,서울특별시 서초구 반포대로 150 (서초동),...,0.0,13.0,35.0,1.0,1.0,7.0,0.0,3.0,320.0,73.0

In [54]:
jang.to_csv('temp.csv', encoding='euc-kr', index=False)
df=pd.read_csv('temp.csv', encoding='euc-kr')
df.head()

,name,n_theater,n_seats,theater_name,n_seats2,attr,open,city,gu,address,...,jucha,CS2,PK6,OL7,SW8,CT1,AT4,AD5,FD6,CE7
0,(재)경기문화재단,1,154,다산홀,154,공공(기타),2001,경기,수원시,경기도 수원시 팔달구 인계로 178 (인계동),...,1.0,25.0,27.0,1.0,0.0,12.0,2.0,25.0,464.0,78.0
1,1M SPACE,1,0,1M SPACE,0,민간(대학로 외),2019,서울,서대문구,서울특별시 서대문구 연세로4길 27 (창천동),...,0.0,58.0,69.0,1.0,2.0,18.0,5.0,93.0,1167.0,267.0
2,1m클래식아트홀,1,130,1m클래식아트홀,130,민간(대학로),2007,서울,종로구,서울특별시 종로구 대학로12길 31 (동숭동),...,0.0,25.0,46.0,1.0,1.0,198.0,7.0,9.0,639.0,227.0
3,2001 아울렛키즈홀 [구로],1,100,2001 아울렛키즈홀 [구로],100,민간(대학로 외),2017,서울,구로구,서울특별시 구로구 중앙로1길 36 (고척동),...,1.0,14.0,16.0,2.0,0.0,1.0,0.0,2.0,237.0,38.0
4,2001 아울렛키즈홀 [수원남문],1,100,2001 아울렛키즈홀 [수원남문],100,민간(대학로 외),2005,경기,수원시,경기도 수원시 팔달구 중부대로34번길 15 (인계동),...,1.0,16.0,16.0,1.0,0.0,5.0,1.0,10.0,222.0,45.0

In [49]:
len(jang)

1846

In [51]:
jubyun_jang.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1846 entries, 0 to 1845
Data columns (total 29 columns):
name            1846 non-null object
n_theater_x     1846 non-null int64
n_seats_x       1846 non-null int64
theater_name    1846 non-null object
n_seats2_x      1846 non-null int64
attr_x          1846 non-null object
open_x          1846 non-null int64
city_x          1846 non-null object
gu_x            1846 non-null object
address         1846 non-null object
pyuneui         1846 non-null float64
jangaein        1846 non-null float64
jucha           1846 non-null float64
n_theater_y     306 non-null float64
n_seats_y       306 non-null float64
n_seats2_y      306 non-null object
attr_y          306 non-null object
open_y          306 non-null float64
city_y          306 non-null object
gu_y            306 non-null object
CS2             305 non-null float64
PK6             305 non-null float64
OL7             305 non-null float64
SW8             305 non-null float64
CT1             305 non-null float64
AT4             305 non-null float64
AD5             305 non-null float64
FD6             305 non-null float64
CE7             305 non-null float64
dtypes: float64(15), int64(4), object(10)
memory usage: 432.7+ KB